body {
    direction: rtl;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   background-image: url(../תמונות/brochure_1681976969.jpg);
background-repeat: no-repeat;
background-size: cover;


   }
 
 .details {
    position: relative;
    width: 300px;
    margin: 100px auto;
    text-align: center;
    margin-top: 17%;
 }
 
 .playerName, .password {
    margin-bottom: 20px;
    font-size: large;
 }
 
 label {
    color: #ff69b4; /* ורוד חזק */
 }
 
 input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #fe3a9c; /* ורוד חזק */
    background: transparent;
    color: #fe3a9c; /* ורוד חזק */
    outline: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 
 input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #fe3a9c; /* ורוד חזק */
    color: white;
    cursor: pointer;
    outline: none;
    margin: 2%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 
 .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../pictures/br3.jpg");
    background-size: cover;
    background-position: center;
    z-index: -1;
 }
 
 .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.75); /* רקע לבן בשקיפות */
 }